/** 首页-菜单-悬浮框 */
.menu-popper.el-popper {
  background: #002338;
  box-shadow: 0px 0px 16px 0px rgba(0, 24, 57, 0.65);
  border: 1px solid;
  border-image: linear-gradient(
      180deg,
      rgba(85, 166, 211, 0.7),
      rgba(85, 166, 211, 1),
      rgba(99, 159, 193, 0.15),
      rgba(85, 166, 211, 0.7)
    )
    1 1;
  .el-menu {
    background-color: #002338;
    .el-menu-item {
      background-color: #002338;
      font-size: 16px;
      font-family: SourceHanSansCN, SourceHanSansCN;
      font-weight: 400;
      color: #c7e9fd;
    }
    .el-menu-item.is-active {
      font-family:
        PingFangSC,
        PingFang SC;
      color: #ffffff;
      background: linear-gradient(180deg, #2e86e6 0%, #0d6bd0 100%);
    }
  }
}
